@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
:root {
  --background: black;
  --foreground: white;
}
@font-face {
  font-family: "font-medium";
  src: url("./fonts/font-medium.woff") format("woff"),
    url("./fonts/font-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-medium-oblique";
  src: url("./fonts/font-medium-oblique.woff") format("woff"),
    url("./fonts/font-medium-oblique.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-medium-rotalic";
  src: url("./fonts/font-medium-rotalic") format("woff"),
    url("./fonts/font-medium-rotalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  transition: all 150ms;
}
body {
  margin: 0;
  background: var(--background);
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: calc(14px + 0.25vw);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "font-medium", sans-serif;
  line-height: 1.5em;
}
h1 {
  font-size: 2.5em;
  line-height: 1em;
}
h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  opacity: 0.8;
}

h3 {
  font-size: 1.7em;
}
p {
  margin: 0 0 1em 0;
  line-height: 1.75em;
}
a {
  color: white;
  text-decoration: none !important;
  font-weight: bold;
  filter: brightness(100%);
}
a:hover {
  filter: brightness(85%);
}
p {
  opacity: 0.9;
}
p a {
  text-decoration: none !important;
}

input,
textarea {
  background: black;
  border: 2px solid white;
  border-radius: 2px;
  outline: none;
  padding: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  color: white;
}

/* Components */

.pill-red {
  display: inline-block;
  border-radius: 100px;
  color: white;
  padding: 6px 10px;
  background: red;
  font-weight: normal !important;
  font-size: 0.9em;
  cursor: pointer;
  white-space: nowrap;
}

.pill-gray {
  display: inline-block;
  border-radius: 100px;
  color: rgba(255, 255, 255, 0.5);
  padding: 6px 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-weight: normal !important;
  font-size: 0.9em;
  cursor: pointer;
  white-space: nowrap;
}
.pill-red:hover,
.pill-gray:hover {
  filter: brightness(85%);
}
video {
  width: 100%;
  height: 100%;
}

button {
  display: inline-block;
  border-radius: 100px;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  background: black;
  border: 2px solid white;
  font: "Nunito Sans", sans-serif;
  outline: none;
}
button:hover {
  filter: brightness(90%);
}

[v-cloak] {
  display: none;
}

.layout-index {
  padding: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2vw 5vw;
  grid-template-areas:
    "header header"
    "events about";
}
@media (max-width: 800px) {
  .layout-index {
    height: inherit;
    grid-template-columns: 1fr;
    gap: 8vw;
    grid-template-areas:
      "header"
      "events"
      "about";
  }
}

.layout-live {
  padding: 32px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto 1fr;
  gap: 1.5vw;
  grid-template-areas:
    "logo   logo  count"
    "main   main  spec"
    "main   main  chat"
    "title  title  chat";
}
@media (max-width: 800px) {
  .layout-live {
    height: inherit;
    grid-template-columns: 1fr;
    gap: 2vw 1.5vw;
    grid-template-areas:
      "logo"
      "title"
      "main"
      "chat"
      "count"
      "spec";
  }
}

.flex {
  display: flex;
  align-items: center;
}
.flex > * {
  margin-right: 8px;
}

@media (max-width: 800px) {
  .flex {
    display: block;
  }
  .flex > * {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .flex > *:last-child {
    margin-bottom: 0;
  }
}

.flex-justified {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .flex-justified {
    display: block;
  }
  .flex-justified > * {
    margin-bottom: 12px;
  }
  .flex-justified > *:last-child {
    margin-bottom: 0;
  }
}

.rotalic {
  font-family: font-medium-rotalic;
  letter-spacing: 0.1em;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
